 @font-face {
  font-family: News Gothic;
  src: url('./fonts/newsgothic.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: always;
  font-family: News Gothic;
}

/* CSS Reset from DoubleClick */
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  color: #fff;
}

#container {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

section.active {
  display: block;
}

section .wrap {
  border: 1px solid #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;

  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 13px 16px 8px 16px;
}

.wrap img {
  cursor: pointer;
}

.wrap p {
  margin-top: -5px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
}

.wrap p span {
  font-weight: 400;
}

#logo {
  position: relative;
  width: 70px;
  margin-right: 8px;
  margin-top: -2px;
}

#logo img {
  width: 100%;
  vertical-align: center;
  height: 29px;
}

.pngseq {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pngseq img {
  will-change: transform;
  pointer-events: none;
}

.bottomtext {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: left;
  right: 0;
  bottom: 24px;
  right: 16px;
  line-height: 1.25;
  font-size: 17px;
  cursor: pointer;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}